@charset "UTF-8";
.container .card {
  position: absolute;
  border: 5px solid #94aec2;
  border-radius: 5px;
  background-color: black;
  color: white;
  overflow: hidden;
  top: 25%;
  right: 25%;
  bottom: 25%;
  left: 25%;
  transition: top 0.1s ease, right 0.1s ease, bottom 0.1s ease, left 0.1s ease; }
  .container .card .header {
    width: 100%;
    background-color: #94aec2;
    border-bottom: 5px solid #94aec2;
    height: 30px;
    text-align: right; }
    .container .card .header label {
      display: inline-block;
      line-height: 30px;
      vertical-align: middle;
      cursor: pointer;
      margin: 0 1px;
      width: 30px;
      background: #b9daf3;
      text-align: center; }
      .container .card .header label:hover {
        background: #cee5f6; }
    .container .card .header button {
      height: 100%;
      width: 30px;
      background: tomato;
      color: white;
      border: 0;
      margin: 0 1px;
      padding: 0;
      cursor: pointer; }
      .container .card .header button:hover {
        background: #ff917e; }
    .container .card .header .label-max {
      display: none; }

.container .card-btn {
  display: none; }

.container .card-btn-screen:checked + .card {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.container .card-btn.card-btn-min:checked ~ .card {
  top: calc(100% - 40px);
  right: 75%;
  bottom: 0;
  left: 0;
  border: 5px solid #94aec2;
  border-radius: 0;
  /* pokazać max ukryć min i screen */ }
  .container .card-btn.card-btn-min:checked ~ .card .header {
    text-align: left; }
    .container .card-btn.card-btn-min:checked ~ .card .header .label-min,
    .container .card-btn.card-btn-min:checked ~ .card .header .label-screen {
      display: none; }
    .container .card-btn.card-btn-min:checked ~ .card .header label {
      text-align: left; }
      .container .card-btn.card-btn-min:checked ~ .card .header label:hover {
        background: #c0ddf4; }
    .container .card-btn.card-btn-min:checked ~ .card .header button {
      position: absolute;
      right: 0;
      top: 0;
      border: 0;
      background: tomato;
      color: white; }
      .container .card-btn.card-btn-min:checked ~ .card .header button:hover {
        background: #ff917e; }
    .container .card-btn.card-btn-min:checked ~ .card .header .label-max {
      border-radius: 0;
      width: 100%;
      background: #94aec2;
      display: inline-block; }
