.container {
  .boxshadow {
    box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.75);
  }
  .filtershadow {
    filter: drop-shadow(0px 15px 15px rgba(0, 0, 0, 0.5));
  }
  .modal-bg {
    visibility: hidden;
    opacity: 0;
    background: rgba(255, 255, 255, 0.5);
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    transition: visibility 0.5s ease, opacity 0.6s ease;

    .modal {
      padding: 30px;
      background: green;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      h2,
      p {
        padding: 0;
        margin: 0;
        margin-bottom: 15px;
      }
      .label-close {
        margin-top: 25px;
      }
      .label-close-left,
      .label-close-right {
        display: inline-block;
        width: 49%;
        label {
          display: inline-block;
          padding: 10px 25px;
          background-color: red;
          cursor: pointer;
        }
      }
      .label-close-right {
        text-align: right;
      }
    }
  }
  .card-btn-close:checked + .modal-bg {
    visibility: visible;
    opacity: 1;
    display: inline-block;
  }
  .card {
    border: 4px solid #95A0A6;
    position: absolute;
    border-radius: 5px;
    background-color: black;
    color: white;
    overflow: hidden;
    z-index: 5;
    background-image: url(../images/card-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    top: 10%;
    right: 25%;
    bottom: 10%;
    left: 25%;
    transition: top 0.1s ease, right 0.1s ease, bottom 0.1s ease, left 0.1s ease;
    @media only screen and (max-width: 992px) {
      top: 10%;
      right: 5%;
      bottom: 10%;
      left: 5%;
    }
    .header {
      display: inline-block;
      text-align: right;
      position: absolute;
      top: 5%;
      right: 5%;
      z-index: 50;
      white-space: nowrap;
      img {
        width: 100%;
      }
      label {
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        text-align: center;
        width: 25%;
        max-width: 75px;
        &:hover {
          i.demo-icon {
            color: tomato;
          }
        }
        i.demo-icon {
          color: #ef5323;
        }
        i.icon-minimize {
          font-size: 25px;
        }
        i.icon-maximize {
          font-size: 45px;
        }
        i.icon-close {
          font-size: 45px;
        }
      }
      label.label-min {
        margin-right: 20px;
      }
      label.label-screen {
        padding: 0 15px;
      }
      .label-close {
        vertical-align: middle;
        background: transparent;
        border: 0;
        padding: 0;
        cursor: pointer;
        &:focus {
          outline: 0;
        }
      }
      .label-max {
        display: none;
      }
    }
    .content {
      z-index: 25;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 75%;
    }
    .footer {
      width: 100%;
      display: block;
      text-indent: -9999px;
      background-image: url(../images/shLogo.svg);
      background-size: auto 100%;
      height: 5%;
      background-repeat: no-repeat;
      background-position: center center;
      position: absolute;
      bottom: 10%;
      z-index: 10;
      h2 {
        display: none;
      }
    }
  }
  .card-btn {
    display: none;
  }
  .card-btn-screen:checked + .card {
    top: 1%;
    right: 1%;
    bottom: 1%;
    left: 1%;
    .header {
      label.label-screen {
        margin: 0 20px;
      }
      i.icon-minimize {
        font-size: 35px;
      }
      i.icon-maximize {
        font-size: 55px;
      }
      i.icon-close {
        font-size: 55px;
      }
    }
  }
  .card-btn.card-btn-min:checked ~ .card {
    top: calc(100% - 50px);
    right: 75%;
    bottom: 0;
    left: 0;
    border-radius: 0;
    border: 1px solid #95A0A6;
    @media only screen and (max-width: 992px) {
      right: 50%;
    }
    @media only screen and (max-width: 450px) {
      right: 0;
    }
    .header {
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      text-align: left;
      .label-min,
      .label-screen {
        display: none;
      }
      label.label-close {
        position: absolute;
        right: 0;
        top: 0;
        border: 0;
        color: white;
        max-width: 40px;
        padding: 5px;
        i.icon-close {
          font-size: 35px;
        }
      }
      label.label-max {
        border-radius: 0;
        width: 100%;
        max-width: 100%; 
        background: #94aec2;
        display: inline-block;
        text-align: left;
        height: 50px;
        line-height: 50px;
        padding-left: 25px;
        &:hover {
          background: #c0ddf4;
        }
      }
    }
    .content,
    .footer {
      display: none;
    }
  }
}
